---
import Layout from "../layouts/Layout.astro";
import { SectionType } from "../interfaces/section.interface";
import { getPageBySlug } from "../services/page.service";
import Maintenance from "@/sections/Maintenance.astro";

const page = await getPageBySlug(Astro.params.slug!);

if (page && Astro.params.slug !== page?.slug) {
  return Astro.redirect(`/${page.slug}`);
}

// Carga dinámica de todas las secciones disponibles en src/sections
const sectionModules = import.meta.glob("../sections/**/*.astro");

const getSectionComponent = async (type: string) => {
  // Creamos un mapa de tipos a archivos (puedes personalizarlo)
  const map: Record<string, string> = {
    [SectionType.CONTACT_TOP_BAR]: "../sections/ContactTopBar.astro",
    [SectionType.MAIN_NAVIGATION_MENU]:
      "../sections/MainNavigationMenu/MainNavigationMenu.astro",
    [SectionType.HERO]: "../sections/Hero.astro",
    [SectionType.WHY_US]: "../sections/WhyUs.astro",
    [SectionType.CASH_PROCESSING_EQUIPMENT]:
      "../sections/CashProcessingEquipment.astro",
    [SectionType.VALUE_PROPOSITION]: "../sections/ValueProposition.astro",
    [SectionType.SOLUTIONS_OVERVIEW]: "../sections/SolutionsOverview.astro",
    [SectionType.MISSION_VISION]: "../sections/MissionVision.astro",
    [SectionType.FULL_MAINTENANCE_PLAN]: "../sections/FullMaintenancePlan.astro",
    [SectionType.PREVENTIVE_CORRECTIVE_MAINTENANCE]:
      "../sections/PreventiveCorrectiveMaintenance.astro",
    [SectionType.SUPPORT_MAINTENANCE]: "../sections/SupportMaintenance.astro",
    [SectionType. OPERATIONAL_BENEFITS]: "../sections/OperationalBenefits.astro",
    [SectionType.MACHINE]: "../sections/Machines.astro",
    [SectionType.CTA_BANNER]: "../sections/CTABanner.astro",
    [SectionType.OUR_COMPANY]: "../sections/OurCompany.astro",
    [SectionType.CLIENT]: "../sections/Clients.astro",
    [SectionType.CONTACT_US]: "../sections/ContactUs.astro",
    [SectionType.FOOTER]: "../sections/Footer.astro",
  };

  const path = map[type];
  if (!path || !sectionModules[path]) return null;

  const mod = await sectionModules[path]();
  return (mod as any).default;
};
---

{
  page == null ? (
    <Layout title="Mantenimiento">
      <Maintenance
        title="Por favor, ten paciencia con nosotros! Actualmente estamos en mantenimiento."
        description="Nos tomará un tiempo arreglar el error. Volveremos a estar en línea."
      />
    </Layout>
  ) : (
    <Layout title={page.title}>
      {page.sections?.length ? (
        await Promise.all(
          page.sections.map(async (section) => {
            const Section = await getSectionComponent(section.type);
            return Section ? <Section section={section} /> : null;
          })
        )
      ) : (
        // <h1>Estamos construyendo esta página. Vuelve pronto.</h1>
        <Maintenance
          title="Estamos construyendo esta página. Vuelve pronto."
          description="Nos tomará un tiempo terminarla. Volveremos a estar en línea."
        />
      )}
    </Layout>
  )
}
