---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<section class="py-24 relative" aria-labelledby="maintenance-title">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
    <div
      class="w-full flex-col justify-center items-center lg:gap-14 gap-10 inline-flex"
    >
      <Image
        src="/logo.webp"
        alt="under maintenance image"
        class="object-cover md:block w-72"
        width={600}
        height={400}
      />
      <div class="w-full flex-col justify-center items-center flex">
        <div class="w-full flex-col justify-center items-center gap-6 flex">
          <div class="w-full flex-col justify-start items-center gap-2.5 flex">
            <h2
              class="text-center text-gray-800 text-3xl font-bold font-manrope leading-normal"
            >
              <!-- Please bear with us! We're currently under maintenance. -->
              <!-- Por favor, ten paciencia con nosotros! Actualmente estamos en mantenimiento. -->
              {title}
            </h2>
            <p
              class="text-center text-gray-500 text-base font-normal leading-relaxed"
            >
              <!-- It's going to take some time to fix the error. We'll be back
              online in. -->
              <!-- Nos tomará un tiempo arreglar el error. Volveremos a estar en línea -->
              {description}
            </p>
          </div>
        </div>
        <Image
          src="/under-maintenance-image.webp"
          alt="Imagen de mantenimiento"
          class="object-cover"
          width={800}
          height={400}
        />
      </div>
    </div>
  </div>
</section>
