---
import Icon from "@/components/ui/Icon.astro";
import LinkComponent from "@/components/ui/Link.astro";
import type { Link } from "@/interfaces/link.interface";

interface Props {
  title: string;
  link?: Link | null;
  deep?: number;
  class?: string;
}
const { title, deep = 1, link, class: className } = Astro.props as Props;
---

<details
  class:list={[
    deep === 1 ? "group/accordion" : "group/nested",
    
  ]}
>
  <!-- class="flex cursor-pointer items-center justify-between px-4 py-3 text-base font-medium text-white list-none" -->
  <summary
    class:list={[
      "flex cursor-pointer items-center justify-between px-4 py-3 text-base font-medium text-white list-none",
      className,
    ]}
  >
    {link ? <LinkComponent link={link} /> : title}

    <Icon
      name="chevron-down"
      class:list={[
        deep === 1
          ? "group-open/accordion:rotate-180"
          : "group-open/nested:rotate-180",
        "ml-auto shrink-0 transition-transform duration-300",
      ]}
    />
  </summary>

  <div class="overflow-hidden transition-all duration-300 ease-in-out">
    <div class="px-4 pb-6">
      <slot />
    </div>
  </div>
</details>
