---
import Icon from "@/components/ui/Icon.astro";
---

<div
  id="alert"
  class="hidden fixed top-6 right-6 z-9999 p-4 rounded-lg border shadow-lg animate-fadeInUp transition-opacity duration-300"
  role="alert"
>
  <div class="flex items-center justify-between gap-3">
    <span class="font-medium"></span>
    <button
      class="text-xl leading-none cursor-pointer hover:text-gray-600"
      onclick="this.parentElement.parentElement.classList.add('hidden')"
      aria-label="Cerrar"
    >
      <Icon name="x" />
    </button>
  </div>
</div>



<style>
  @reference "@/styles/global.css";

  #alert.success {
    @apply text-green-800 bg-green-50 border-green-300 animate-fadeInUp;
  }
  #alert.error {
    @apply text-red-800 bg-red-50 border-red-300 animate-fadeInUp;
  }
  #alert.info {
    @apply text-blue-800 bg-blue-50 border-blue-300 animate-fadeInUp;
  }

    #alert.warning {
        @apply text-yellow-800 bg-yellow-50 border-yellow-300 animate-fadeInUp;
}
</style>
