---
interface Props {
  label: string;
  placeholder?: string;
}

const { label, placeholder = "" } = Astro.props as Props;
---

<div>
  <label for={label} class="font-medium"> {label} </label>
  <textarea
    id={label}
    required
    class="w-full mt-2 h-36 px-3 py-2 resize-none appearance-none bg-transparent outline-none border focus:border-gray-800 shadow-sm rounded-lg"
    placeholder={placeholder}></textarea>
</div>
